.checkout-header {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  // background-color: #f9f9f9;
  top: 6rem;
  position: sticky;
  padding: 1rem 0;
  .checkout-header-menu {
    width: 50%;
    display: flex;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: space-between;
    .line {
      position: absolute;
      top: 15px;
      left: 30px;
      right: 30px;
      width: 85%;
      margin: auto;
      height: 3px;
      background-color: #e1e1e1;
    }
    li {
      list-style: none;

      width: 100px;
      .header-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .header-icon {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: #e1e1e1;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #818181;
          padding: 1.6rem;
          position: relative;
          z-index: 2;
        }
        h6 {
          margin-top: 1.2rem;
          color: #b6b6b6;
        }
      }
      a.active {
        .header-icon {
          background-color: #000;
          color: #fff;
        }
        h6 {
          color: #000;
        }
      }
    }
  }
}
.step-1 {
  width: 80rem;
  margin: auto;
  h3 {
    text-align: center;
    margin: 1em 0;
    font-size: 1.17em;
  }
  span {
    color: #4a4a4a;
    text-align: center;
    display: block;
    font-size: 1.2rem;
  }
  .text-right {
    text-align: right;
    p {
      font-size: 1.2rem;
      color: #4a4a4a;
      line-height: 2.4rem;
    }
    h2 {
      margin: 1.2rem 0;
    }
  }
  .checkout-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      padding: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f2f2f2;
      color: #7d7d7d;
      border: 1px solid #e1e1e1;
    }
    .nextstep {
      background-color: #101010;
      border: 1px solid #101010;
      color: #fff;
      img {
        filter: invert(100%);
      }
    }
  }
}
