.step-4 {
  width: 80rem;
  margin: auto;
}

.step-4 .step4-header {
  display: flex;
  margin-bottom: 3rem;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
}

.step-4 .step4-header h2 {
  font-size: 2rem;
}

.step-4 .step4-header img {
  filter: invert(68%) sepia(82%) saturate(4761%) hue-rotate(126deg) brightness(105%) contrast(99%);
  margin-left: 1.2rem;
}

.step-4 .order-details {
  text-align: left;
}

.step-4 .order-details h5 {
  color: #4a4a4a;
}

.step-4 .total {
  text-align: right;
}

.step-4 .total p {
  font-size: 1.2rem;
  color: #7d7d7d;
  margin-bottom: 0.87rem;
}

.step-4 .total h3 {
  margin: 1.2rem 0;
}

.step-4 .thank-msg {
  text-align: center;
  margin: 3rem 0;
}

.step-4 .thank-msg h4 {
  font-size: 1.6rem;
  color: #7d7d7d;
}

.step-4 .post-actions {
  display: flex;
  justify-content: space-between;
}

.step-4 .post-actions button {
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
}

.step-4 .post-actions .keeps-shopping {
  background-color: #101010;
  border: 1px solid #101010;
  color: #fff;
}
