* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Tajawal, Helvetica, Arial, sans-serif;
}

html {
  font-size: 10px;
  line-height: 1.15;
}

body {
  font-size: 1.6rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

a:visited {
  color: #101010;
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  background-color: #f9f9f9;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 5rem 0.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header .header_start {
  display: flex;
  align-items: center;
}

.header .header_start .logo {
  margin-right: 2rem;
}

.header .header_start .logo a {
  display: block;
  height: 100%;
}

.header .header_start .logo a img {
  object-fit: contain;
}

.header .header_start ul {
  list-style: none;
  margin-right: 2rem;
}

.header .header_start ul li {
  display: inline-block;
}

.header .header_start ul li a {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 15px;
  opacity: 0.5;
}

.header .header_start ul li a.active {
  opacity: 1;
}

.header .header_start ul li a:hover {
  background-color: #f2f2f2;
}

.header .header_end {
  display: flex;
  align-items: center;
}

.header .header_end .filter {
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
  background-color: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header_end .searchbar {
  width: 300px;
  display: flex;
  position: relative;
}

.header .header_end .searchbar span {
  position: absolute;
  left: 1.6rem;
  top: 0;
  bottom: 0;
  color: #7a7a7a;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header_end .searchbar input {
  padding-left: 4.8rem !important;
  padding: 1.2rem 1.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid #e1e1e1;
  width: 100%;
}

.header .header_end .cart {
  color: #1a1a1a;
  padding: 1rem 1.6rem;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

.header .header_end .cart::before {
  content: '';
  background-color: red;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: -1px;
  right: -1px;
}

.header .header_end .cart .quantity {
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: 2.8px;
  right: 4.5px;
}

.header .header_end .buttons.active {
  display: none;
}

.header .header_end .buttons a {
  padding: 1.2rem 1.6rem;
  border: 1px solid #101010;
  background-color: #101010;
  font-size: 1.2rem;
  color: #fff;
}

.header .header_end .buttons a.signup {
  margin-left: 5.6rem;
}

.header .header_end .buttons a.signin {
  margin-left: 1.2rem;
  border: 1px solid #e1e1e1;
  color: #7d7d7d;
  background-color: #f2f2f2;
}

.header .header_end .user {
  display: none;
}

.header .header_end .user.active {
  display: flex;
}
