.productlist {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.productlist .products {
  max-height: 30rem;
  border: 1px solid #e1e1e1;
}

.productlist .products .image {
  width: 100%;
  height: 20rem;
  background-color: #f1f1f1;
}

.productlist .products .image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.productlist .products .image img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.productlist .products .details {
  padding: 2rem;
}

.productlist .products .details h2 {
  font-size: 1.5em;
}

.productlist .products .details p {
  line-height: 2.4rem;
  color: #818181;
  font-style: italic;
}
