* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Tajawal, Helvetica, Arial, sans-serif;
}

html {
  font-size: 10px;
  line-height: 1.15;
}

body {
  font-size: 1.6rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

a:visited {
  color: #101010;
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  background-color: #f9f9f9;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 5rem 0.5rem;
  position: fixed;
  top: 0;
}

.header .header_start {
  display: flex;
  align-items: center;
}

.header .header_start .logo {
  margin-right: 2rem;
}

.header .header_start .logo a {
  display: block;
  height: 100%;
}

.header .header_start .logo a img {
  object-fit: contain;
}

.header .header_start ul {
  list-style: none;
  margin-right: 2rem;
}

.header .header_start ul li {
  display: inline-block;
}

.header .header_start ul li a {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 15px;
  opacity: 0.5;
}

.header .header_start ul li a.active {
  opacity: 1;
}

.header .header_start ul li a:hover {
  background-color: #f2f2f2;
}

.header .header_end {
  display: flex;
  align-items: center;
}

.header .header_end .filter {
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
  background-color: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header_end .searchbar {
  width: 300px;
  display: flex;
  position: relative;
}

.header .header_end .searchbar span {
  position: absolute;
  left: 1.6rem;
  top: 0;
  bottom: 0;
  color: #7a7a7a;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header_end .searchbar input {
  padding-left: 4.8rem !important;
  padding: 1.2rem 1.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid #e1e1e1;
  width: 100%;
}

.header .header_end .cart {
  color: #1a1a1a;
  padding: 1rem 1.6rem;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

.header .header_end .cart::before {
  content: '';
  background-color: red;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: -1px;
  right: -1px;
}

.header .header_end .cart .quantity {
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: 2.8px;
  right: 4.5px;
}

.header .header_end .buttons.active {
  display: none;
}

.header .header_end .buttons a {
  padding: 1.2rem 1.6rem;
  border: 1px solid #101010;
  background-color: #101010;
  font-size: 1.2rem;
  color: #fff;
}

.header .header_end .buttons a.signup {
  margin-left: 5.6rem;
}

.header .header_end .buttons a.signin {
  margin-left: 1.2rem;
  border: 1px solid #e1e1e1;
  color: #7d7d7d;
  background-color: #f2f2f2;
}

.header .header_end .user {
  display: none;
}

.header .header_end .user.active {
  display: flex;
}

footer {
  margin-top: 4.8rem;
  padding: 0 5.6rem;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #4a4a4a;
}

footer a {
  text-decoration: underline;
  color: #101010;
}

footer .footer-center {
  padding: 3rem 0;
  text-align: center;
  line-height: 1.15rem;
}

footer .footer-center img {
  object-fit: contain;
}

footer .footer-center h5 {
  margin: 1.67em 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 10rem;
}

.main .home {
  display: flex;
  background-color: #f3f3f3;
}

.main .home .home-left {
  flex-basis: 50%;
  padding: 5rem;
  position: relative;
}

.main .home .home-left h1 {
  font-size: 4.8rem;
  margin-bottom: 1rem;
  margin-top: 0.67em;
  font-weight: 400;
}

.main .home .home-left p {
  font-weight: 700;
  line-height: 2.4rem;
  margin: 1em 0;
}

.main .home .home-left a {
  background-color: #101010;
  padding: 1.6rem;
  border: 1px solid #101010;
  color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  font-weight: 700;
}

.main .home .home-left a img {
  filter: invert(1);
}

.main .home .home-right {
  flex-basis: 50%;
}

.main .home .home-right img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main .display {
  margin: 10rem 5rem 5rem;
}

.main .display .display-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .display .display-header h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.main .display .display-header a {
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: underline;
}

.productlist {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.productlist .products {
  max-height: 30rem;
  border: 1px solid #e1e1e1;
}

.productlist .products .image {
  width: 100%;
  height: 20rem;
  background-color: #f1f1f1;
}

.productlist .products .image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.productlist .products .image img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.productlist .products .details {
  padding: 2rem;
}

.productlist .products .details h2 {
  font-size: 1.5em;
}

.productlist .products .details p {
  line-height: 2.4rem;
  color: #818181;
  font-style: italic;
}

.shop-display {
  z-index: 0;
  position: relative;
}

.filters-display .list-header {
  text-align: center;
}

.filters-display .list-header h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

.filters-display .applied-filters {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-display .applied-filters .wrapper {
  text-align: center;
}

.filters-display .applied-filters .wrapper span {
  display: block;
  color: #4a4a4a;
  width: 100%;
  font-size: 1.2rem;
}

.filters-display .applied-filters .wrapper .details {
  padding-right: 3.2rem;
  background-color: #e1e1e1;
  padding: 0.8rem 1.6rem;
  margin: 10px 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.filters-display .applied-filters .wrapper .details h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

.filters-display .applied-filters .wrapper .details .remove {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818181;
  border-radius: 50%;
  border: 1px solid #818181;
  cursor: pointer;
}

.main .featured {
  display: flex;
  height: 40rem;
  margin-top: 2rem;
  background-color: #f3f3f3;
}

.main .featured .featured-left {
  flex-basis: 50%;
  padding: 5rem;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.main .featured .featured-left h1 {
  font-size: 4.8rem;
  margin-bottom: 1rem;
  width: 80%;
}

.main .featured .featured-right {
  width: 100%;
  height: 100%;
  flex-basis: 50%;
}

.main .featured .featured-right img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.auth-container {
  width: 80rem;
  margin: auto;
}

.auth-container .auth-content {
  border: 1px solid #c5c5c5;
  padding: 1.6rem 3.2rem 3.2rem;
  display: flex;
  justify-content: center;
}

.auth-container .auth-content .auth-left {
  width: 100%;
}

.auth-container .auth-content .auth-left h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

.auth-container .auth-content .auth-left form label {
  padding: 1rem 1.2rem;
  color: #696868;
  font-size: 1.2rem;
  display: inline-block;
}

.auth-container .auth-content .auth-left form input {
  padding: 10px 1.6rem;
  font-size: 1.5rem;
  width: 100%;
}

.auth-container .auth-content .auth-left form .signup-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.auth-container .auth-content .auth-left form .signup-button button {
  color: #fff;
  background-color: #101010;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.auth-container .auth-content .auth-left form .signup-button button img {
  filter: invert(100%);
}

.auth-container .auth-content .auth-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4.8rem;
  position: relative;
  flex-direction: column;
}

.auth-container .auth-content .auth-center .vertical-line {
  width: 1px;
  background-color: #e1e1e1;
  height: 30%;
}

.auth-container .auth-content .auth-center h6 {
  padding: 1.2rem;
}

.auth-container .auth-content .auth-right {
  width: 51rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-container .auth-content .auth-right button {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  width: 100%;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.auth-container .auth-content .auth-right button img {
  position: absolute;
  left: 1.6rem;
  width: 1em;
  height: 1em;
}

.auth-container .auth-content .auth-right .facebook {
  background-color: #0078ff;
  color: #fff;
  border: 1px solid #0078ff;
}

.auth-container .auth-content .auth-right .facebook img {
  left: 1.2rem;
  width: 1.8em;
  height: 1.8em;
}

.auth-container .auth-content .auth-right .google {
  background-color: #fff;
  color: #3a3a3a;
  border: 1px solid #c5c5c5;
}

.auth-container .auth-content .auth-right .github {
  background-color: #24292e;
  color: #fff;
  border: 1px solid #24292e;
}

.auth-container .auth-content .auth-right .github img {
  filter: invert(100%);
}

.auth-container .auth-bottom {
  width: 100%;
  display: flex;
  padding: 1.2rem;
  background-color: #f2f2f2;
  border: 1px solid #c5c5c5;
  border-top: none;
  justify-content: center;
  align-items: center;
}

.auth-container .auth-bottom span {
  margin-right: 3.2rem;
  font-size: 1.2rem;
  color: #4a4a4a;
}

.auth-container .auth-bottom .button {
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
  color: #4a4a4a;
  border: 1px solid #e1e1e1;
}

.signin-button {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.signin-button a {
  text-decoration: underline;
  color: #4a4a4a;
  font-size: 1.2rem;
}

.signin-button button {
  color: #fff;
  background-color: #101010;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.signin-button button img {
  filter: invert(100%);
}

.user-tab {
  width: 700px;
  height: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}

.user-tab .tab-menu {
  background-color: #f2f2f2;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 3.2rem;
}

.user-tab .tab-menu a {
  color: #818181;
  padding: 1.6rem;
  font-size: 1.5rem;
  display: inline-block;
}

.user-tab .tab-menu a.active {
  color: #4a4a4a;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.user-tab .user-content {
  padding: 1.6rem;
  height: 100%;
}

.user-tab .user-content .user-profile {
  display: flex;
  margin: auto;
}

.user-tab .user-content .user-profile .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-tab .user-content .user-profile .profile .profile-banner {
  height: 150px;
  position: relative;
  width: 100%;
}

.user-tab .user-content .user-profile .profile .profile-banner .banner-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.user-tab .user-content .user-profile .profile .profile-banner .banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-tab .user-content .user-profile .profile .profile-banner .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: relative;
  left: 1.6rem;
  bottom: 30%;
  background-color: #e1e1e1;
}

.user-tab .user-content .user-profile .profile .profile-banner button {
  position: absolute;
  right: 1.2rem;
  bottom: -12%;
  font-size: 1.2rem;
  background-color: #101010;
  border: 1px solid #101010;
  padding: 1.2rem 1.6rem;
  color: #fff;
}

.user-tab .user-content .user-profile .profile .profile-details {
  padding: 9.5rem 1.6rem 3.2rem;
}

.user-tab .user-content .user-profile .profile .profile-details h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

.user-tab .user-content .user-profile .profile .profile-details span {
  color: #4a4a4a;
  font-size: 1.2rem;
}

.user-tab .user-content .user-profile .profile .profile-details h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
  color: #1a1a1a;
}

.user-menu {
  display: inline-block;
  position: relative;
}

.user-menu .user-nav {
  margin-left: 1.6rem;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 1.2rem;
  cursor: pointer;
}

.user-menu .user-nav h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
  max-width: 120px;
}

.user-menu .user-nav .user-img {
  margin-left: 10px;
  border-radius: 50%;
  background-color: #c5c5c5;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu .user-nav span {
  font-size: 1.2rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu .user-nav .user-button {
  display: flex;
  position: absolute;
  top: 100%;
  right: 0;
  flex-direction: column;
  width: 150px;
  height: auto;
}

.user-menu .user-nav .user-button.active {
  display: none;
}

.user-menu .user-nav .user-button button {
  background-color: #fff;
  padding: 1.2rem 1.6rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  border: 0px;
}

.user-menu .user-nav .user-button button:first-child {
  border-bottom: 0.5px solid #f9f9f9;
}

@font-face {
  font-family: iconfont;
  src: url(../../../images/iconfont.ttf) format("truetype");
}

.main .product-view {
  width: 70%;
  margin: 0 5rem;
}

.main .product-view h3 {
  padding: 1.6rem;
  margin: 1em 0;
  font-size: 1.17em;
  display: inline-block;
}

.main .product-view .product-model {
  display: flex;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}

.main .product-view .product-model .collection {
  width: 150px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
}

.main .product-view .product-model .collection div {
  height: 100px;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-bottom: 5px;
}

.main .product-view .product-model .collection div img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.main .product-view .product-model .model-image {
  width: 40rem;
  background-color: #f8f8f8;
}

.main .product-view .product-model .model-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.main .product-view .product-model .model-details {
  width: 500px;
  padding: 3.2rem;
}

.main .product-view .product-model .model-details span {
  color: #818181;
  font-size: 1.2rem;
}

.main .product-view .product-model .model-details h1 {
  font-size: 2em;
  margin: 0.67em 0;
  margin-top: 0;
}

.main .product-view .product-model .model-details p {
  font-size: 1.2rem;
  color: #4a4a4a;
}

.main .product-view .product-model .model-details .divider {
  height: 1px;
  background-color: #f1f1f1;
  width: 100%;
}

.main .product-view .product-model .model-details .detail-center .selector {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 38px;
  justify-content: space-between;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.main .product-view .product-model .model-details .detail-center .selector .container {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  position: relative;
  width: 100%;
}

.main .product-view .product-model .model-details .detail-center .selector .container input {
  color: gray;
  margin: 0 2px;
  border: 0;
  width: 100%;
}

.main .product-view .product-model .model-details .detail-center .selector .arrow-down {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px;
}

.main .product-view .product-model .model-details .detail-center .selector .arrow-down .vertical-divider {
  margin: 8px 0;
  background-color: #cccccc;
  width: 1px;
  height: 60%;
  position: absolute;
  left: 0;
}

.main .product-view .product-model .model-details .detail-center .sizing {
  display: flex;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 2px 8px;
  background-color: #fff;
  flex-direction: column;
  position: absolute;
  width: 435px;
  margin-top: 5px;
  z-index: 99;
}

.main .product-view .product-model .model-details .detail-center .sizing span {
  color: #101010;
  font-size: 1.17em;
  padding: 8px;
}

.main .product-view .product-model .model-details .detail-center .sizing span:hover {
  background-color: #2684ff;
  color: #fff;
}

.main .product-view .product-model .model-details .detail-center .sizing.active {
  display: none;
}

.main .product-view .product-model .model-details .detail-bottom .color-choose {
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
}

.main .product-view .product-model .model-details .detail-bottom .color-choose .color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  position: relative;
}

.main .product-view .product-model .model-details .detail-bottom .color-choose .color.active::before {
  content: '\e60b';
  position: absolute;
  top: 2px;
  left: 3px;
  font-family: iconfont;
  font-size: 24px;
  color: #fff;
}

.main .product-view .product-model .model-details button {
  padding: 1.2rem 1.6rem;
  background-color: #101010;
  position: relative;
  border: 1px solid #101010;
  color: #fff;
}

.basket {
  width: 60rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.5s;
  transform: translateX(0);
  z-index: 999;
}

.basket.show {
  transform: translateX(60rem);
}

.basket .basket-list {
  padding: 1.6rem;
  padding-bottom: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.basket .basket-list .mybasket-header {
  display: flex;
  align-items: center;
}

.basket .basket-list .mybasket-header h3 {
  font-size: 1.17em;
  margin: 1em 0;
  flex-grow: 1;
}

.basket .basket-list .mybasket-header h3 span {
  color: #4a4a4a;
  font-size: 1.2rem;
}

.basket .basket-list .mybasket-header button {
  padding: 1.2rem 1.6rem;
  font-size: 1.2rem;
  border: 1px solid #e1e1e1;
  color: #4a4a4a;
  background-color: #fff;
}

.basket .basket-list .item-display .basket-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.basket .basket-list .item-display .basket-empty .empty {
  color: #818181;
  font-size: 0.83em;
  margin: 1.67em 0;
}

.basket .basket-list .item-display .items {
  display: flex;
  align-items: center;
  border: 1px solid #e1e1e1;
  margin-bottom: 1.2rem;
}

.basket .basket-list .item-display .items .controller {
  width: 30px;
  height: 90px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
}

.basket .basket-list .item-display .items .controller button {
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #e1e1e1;
  color: #4a4a4a;
  background-color: #fff;
  width: 35px;
  height: 100%;
}

.basket .basket-list .item-display .items .basket-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
}

.basket .basket-list .item-display .items .basket-item .basket-img {
  width: 90px;
  height: 90px;
  margin-right: 1.6rem;
  position: relative;
}

.basket .basket-list .item-display .items .basket-item .basket-detail {
  width: 275px;
}

.basket .basket-list .item-display .items .basket-item .basket-detail h4 {
  margin: 1.2rem 0;
  width: 142px;
  text-overflow: ellipsis;
  text-decoration: underline;
  height: 18.4px;
}

.basket .basket-list .item-display .items .basket-item .basket-detail .item-specs {
  display: flex;
  gap: 3.5em;
}

.basket .basket-list .item-display .items .basket-item .basket-detail .item-specs span {
  font-size: 12px;
  color: #8d8d8d;
  margin-bottom: 5px;
  display: block;
}

.basket .basket-list .item-display .items .basket-item .basket-detail .item-specs h5 {
  font-size: 0.83em;
}

.basket .basket-list .item-display .items .basket-item .basket-detail .item-specs .color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.basket .basket-list .item-display .items .basket-item .item-price {
  margin-right: 2rem;
}

.basket .basket-list .item-display .items .basket-item button {
  padding: 1.2rem 1.6rem;
  font-size: 1.2rem;
  border: 1px solid #e1e1e1;
  color: #4a4a4a;
  background-color: #fff;
}

.basket .total {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.basket .total::before {
  content: '';
  position: absolute;
  width: 93%;
  height: 0.5px;
  background-color: #e1e1e1;
  top: 0;
}

.basket .total h6 {
  font-size: 1.2rem;
  color: #4a4a4a;
  line-height: 2.4rem;
}

.basket .total h3 {
  font-size: 1.5em;
  margin: 1.2rem 0;
}

.basket .total button {
  font-size: 1.5rem;
  padding: 1.6rem 3.2rem;
  margin: auto 0;
  background-color: #101010;
  color: #fff;
  line-height: 1.15;
  display: block;
}

.search-msg {
  font-size: 0.83em;
  margin: 1.67em 0;
  text-align: center;
}

.checkout-header {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  top: 6rem;
  position: sticky;
  padding: 1rem 0;
}

.checkout-header .checkout-header-menu {
  width: 50%;
  display: flex;
  margin: auto;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.checkout-header .checkout-header-menu .line {
  position: absolute;
  top: 15px;
  left: 30px;
  right: 30px;
  width: 85%;
  margin: auto;
  height: 3px;
  background-color: #e1e1e1;
}

.checkout-header .checkout-header-menu li {
  list-style: none;
  width: 100px;
}

.checkout-header .checkout-header-menu li .header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkout-header .checkout-header-menu li .header-item .header-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818181;
  padding: 1.6rem;
  position: relative;
  z-index: 2;
}

.checkout-header .checkout-header-menu li .header-item h6 {
  margin-top: 1.2rem;
  color: #b6b6b6;
}

.checkout-header .checkout-header-menu li a.active .header-icon {
  background-color: #000;
  color: #fff;
}

.checkout-header .checkout-header-menu li a.active h6 {
  color: #000;
}

.step-1 {
  width: 80rem;
  margin: auto;
}

.step-1 h3 {
  text-align: center;
  margin: 1em 0;
  font-size: 1.17em;
}

.step-1 span {
  color: #4a4a4a;
  text-align: center;
  display: block;
  font-size: 1.2rem;
}

.step-1 .text-right {
  text-align: right;
}

.step-1 .text-right p {
  font-size: 1.2rem;
  color: #4a4a4a;
  line-height: 2.4rem;
}

.step-1 .text-right h2 {
  margin: 1.2rem 0;
}

.step-1 .checkout-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step-1 .checkout-action button {
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
}

.step-1 .checkout-action .nextstep {
  background-color: #101010;
  border: 1px solid #101010;
  color: #fff;
}

.step-1 .checkout-action .nextstep img {
  filter: invert(100%);
}

.basket-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.basket-empty .empty {
  color: #818181;
  font-size: 0.83em;
  margin: 1.67em 0;
}

.items {
  display: flex;
  align-items: center;
  border: 1px solid #e1e1e1;
  margin-bottom: 1.2rem;
}

.items .controller {
  width: 30px;
  height: 90px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
}

.items .controller button {
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #e1e1e1;
  color: #4a4a4a;
  background-color: #fff;
  width: 35px;
  height: 100%;
}

.items .basket-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
}

.items .basket-item .basket-img {
  width: 90px;
  height: 90px;
  margin-right: 1.6rem;
  position: relative;
}

.items .basket-item .basket-img img {
  object-fit: contain;
}

.items .basket-item .basket-detail {
  width: 100%;
}

.items .basket-item .basket-detail h4 {
  margin: 1.2rem 0;
  width: 142px;
  text-overflow: ellipsis;
  text-decoration: underline;
  height: 18.4px;
}

.items .basket-item .basket-detail .item-specs {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.items .basket-item .basket-detail .item-specs span {
  font-size: 12px;
  color: #8d8d8d;
  margin-bottom: 5px;
  display: block;
}

.items .basket-item .basket-detail .item-specs h5 {
  font-size: 0.83em;
}

.items .basket-item .basket-detail .item-specs .color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.items .basket-item .item-price {
  margin-right: 2rem;
}

.items .basket-item button {
  padding: 1.2rem 1.6rem;
  font-size: 1.2rem;
  border: 1px solid #e1e1e1;
  color: #4a4a4a;
  background-color: #fff;
}

.step-2 {
  width: 80rem;
  margin: auto;
  margin-top: 2em;
}

.step-2 label {
  width: 100%;
  font-size: 1.5rem;
  padding: 2px 8px;
  margin: 1em 0;
  display: block;
  color: #4a4a4a;
}

.step-2 input {
  width: 100%;
  border: 1px solid #7d7d7d;
  padding: 1.6rem;
  font-size: 1.5rem;
}

.step-2 .text-right {
  text-align: right;
}

.step-2 .text-right p {
  font-size: 1.2rem;
  color: #4a4a4a;
  line-height: 2.4rem;
}

.step-2 .text-right h2 {
  margin: 1.2rem 0;
}

.step-2 .checkout-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step-2 .checkout-action button {
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
}

.step-2 .checkout-action .nextstep {
  background-color: #101010;
  border: 1px solid #101010;
  color: #fff;
}

.step-2 .checkout-action .nextstep img {
  filter: invert(100%);
}

.filter-display {
  position: fixed;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 50px 20px;
  z-index: 9999;
  margin-right: -50%;
  display: none;
  background-color: #fff;
  transform: translate(-50%, -50%);
  inset: 50% auto auto 50%;
}

.filter-display.active {
  display: block;
}

.filter-display .container {
  width: 400px;
  height: 360px;
  padding: 1.6rem;
  position: relative;
}

.filter-display .container .filters {
  display: flex;
  flex-wrap: wrap;
}

.filter-display .container .filters .filters-field {
  width: 100%;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #e1e1e1;
}

.filter-display .container .filters .filters-field:first-child {
  flex-basis: 50%;
}

.filter-display .container .filters .filters-field:nth-child(2) {
  flex-basis: 50%;
}

.filter-display .container .filters .filters-field span {
  color: #4a4a4a;
  font-size: 1.2rem;
}

.filter-display .container .filters .filters-field select {
  width: 100%;
  font-size: 1.2rem;
  color: #4a4a4a;
  padding: 7px 1.4rem;
  border: 1px solid #e1e1e1;
}

.filter-display .container .filters .filters-field .box {
  height: 120px;
  width: 100%;
}

.filter-display .container .filters .filters-field .box .control {
  width: 100%;
  height: 30px;
  display: flex;
  margin-bottom: 3rem;
}

.filter-display .container .filters .filters-field .box .control input {
  width: 50%;
  border: none;
  font-size: 4rem;
  padding: 0;
  text-align: center;
}

.filter-display .container .filters .filters-field .box .slider {
  position: relative;
  width: 100%;
}

.filter-display .container .filters .filters-field .box .slider .handle {
  width: 24px;
  height: 24px;
  position: absolute;
  border: 0px;
  left: 0%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #1a1a1a;
  cursor: pointer;
}

.filter-display .container .filters .filters-field .box .slider .handle.right {
  left: 100%;
}

.filter-display .container .filters .filters-field .box .slider .tracks {
  background-color: orange;
  border-radius: 7px;
  height: 14px;
  position: absolute;
  left: 0%;
  width: 100%;
  z-index: 1;
  transform: translate(0%, -50%);
}

.filter-display .container .filters .filters-field .box .slider .ticks {
  display: flex;
  justify-content: space-between;
}

.filter-display .container .filters .filters-field .box .slider .ticks .line {
  margin-top: 17px;
  width: 1px;
  height: 5px;
  background-color: #c8c8c8;
}

.filter-display .container .filters .filters-field .box .slider .ticks .value {
  margin-top: 25px;
  font-size: 10px;
  text-align: center;
  width: 16.6667%;
  margin-left: -8.33333%;
}

.filter-display .container .filters .filters-action {
  display: flex;
  width: 100%;
}

.filter-display .container .filters .filters-action button {
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
  background-color: #101010;
  border: 1px solid #101010;
  color: #fff;
}

.filter-display .container .filters .filters-action button:last-child {
  color: #101010;
  background-color: #fff;
}

.shopProductList {
  display: flex;
  gap: 4.5rem;
  justify-content: flex-start;
}

.shopProductList .shopProducts {
  max-width: 180px;
  height: 230px;
  border: 1px solid #e1e1e1;
  text-align: center;
  background-color: #fff;
  position: relative;
}

.shopProductList .shopProducts .image {
  width: 100%;
  height: 100px;
  padding: 0 1.6rem;
  background-color: #f6f6f6;
}

.shopProductList .shopProducts .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shopProductList .shopProducts .details {
  padding: 1.6rem;
  text-align: center;
}

.shopProductList .shopProducts .details h2 {
  max-width: 120px;
  font-weight: bold;
  font-size: 0.83em;
  margin: auto;
  height: 20px;
}

.shopProductList .shopProducts .details p {
  line-height: 2.4rem;
  font-style: italic;
  margin-bottom: 1em;
  color: #b6b6b6;
  font-size: 1.2rem;
}

.shopProductList .shopProducts .details h4 {
  font-weight: bold;
  margin: 1.33em 0;
  font-size: 1.6rem;
}

.shopProductList button {
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
  border: 1px solid #101010;
  color: #fff;
  line-height: 1.15;
  background-color: #101010;
  width: 100%;
}

.checkout-step-3 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
}

.checkout-shipping-action {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.checkout-shipping-action button {
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #7d7d7d;
  border: 1px solid #e1e1e1;
}

.checkout-shipping-action .submit {
  background-color: #101010;
  border: 1px solid #101010;
  color: #fff;
}

.checkout-shipping-action .submit img {
  filter: invert(100%);
}

.step-4 {
  width: 80rem;
  margin: auto;
}
